//colores
$color-red: #FF375F;
$color-blue: #0A84FF;
$color-violet: #5E5CE6;
$color-grey: #ecf0f1;
$color-red-two: #FF2F55;
$color1: #f7eade;
$color2: #d8cec7;
$color3: #ebcaad;
$color4: #e6d6ca;
$color5: #ccc5bf;

